input[type="checkbox"]:indeterminate {
  accent-color: rgb(247, 0, 255);
  box-shadow: 0 0 3px hotpink;
  border-radius: 50px;
}
input[type="checkbox"]:checked {
  accent-color: blue;
  border-radius: 50px;
}
input[type="checkbox"] {
  accent-color: rgb(247, 0, 255);
  box-shadow: 0 0 3px hotpink;
  border-radius: 50px;
}
input:indeterminate + :checked {
  background-color: lime;
}
